<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="..\assets\styles.css" rel="stylesheet" />
        <script src="..\assets\script.js"></script>
        <title>Contact</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Contact</h1>
            <p>Please reach out using the below.</p>
            <article>
                <section>

                </section>
            </article>
        </main>
        <footer>
            <p>Copyright &copy;</p>
        </footer>
    </body>
</html>