<!-- Landing Page -->
<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="..\assets\styles.css" rel="stylesheet" />
        <script src="..\assets\script.js"></script>
        <title>Recipe Center</title>
    </head>

    <body>
        <header>
            <nav>
                <div id="navparent">
                    <div class="navchild"><a href="index.html">Home</a></div>
                    <div class="navchild"><a href="about.html">About</a></div>
                    <div class="navchild"><a href="contact.html">Contact</a></div>
                </div>
            </nav>
        </header>

        <main id="boxes">
            <h1>Recipe Book</h1>
            <div id="column1">
                <h2>
                    <div class="container">
                        <img src="..\assets\img\peanutbutterchocolatechipcookies.jpg" alt="Peanut Butter Chocolate Chip Cookies" class="img">
                        <div class="middle">
                            <div class="text"><a href="recipe1.html">Peanut Butter Cookies</a></div>
                        </div>
                    </div>
                </h2>
            </div>
            <div id="column2">
                <h2>
                    <div class="container">
                        <img src="..\assets\img\peanutbutterchocolatechipcookies.jpg" alt="Peanut Butter Chocolate Chip Cookies" class="img">
                        <div class="middle">
                            <div class="text"><a href="recipe1.html">Peanut Butter Cookies</a></div>
                        </div>
                </h2>
            </div>
            <div id="column3">
                <h2>
                    <div class="container">
                        <img src="..\assets\img\peanutbutterchocolatechipcookies.jpg" alt="Peanut Butter Chocolate Chip Cookies" class="img">
                        <div class="middle">
                            <div class="text"><a href="recipe1.html">Peanut Butter Cookies</a></div>
                        </div>
                </h2>
            </div>
        </main>
    </body>

</html>