<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="..\assets\styles.css" rel="stylesheet">
        <script src="..\assets\script.js"></script>
        <script type = "text/javascript">
            <!--
            //-->
        </script>
        <title>Peanut Butter Chocolate Chip Cookies</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Peanut Butter Chocolate Chip Cookies</h1>
                <img src="..\assets\img\peanutbutterchocolatechipcookies.jpg"
                alt="Peanut Butter Chocolate Chip Cookies"
                class="recipeimg">
            <form>
                <input type = "button" value = "Print" onclick = "window.print()" />
            </form>
            <h2>Ingredients
                <ul>
                    <li>1 cup of Unsalted Peanut Butter</li>
                    <li>1 cup of Sugar</li>
                    <li>1 cup of Flour</li>
                    <li>1 cup of Chocolate</li>
                    <li>6.5 tbsps of Almond Milk</li>
                    <li>1 tsp of Baking Soda</li>
                    <li>1 Pinch of Salt</li>
                </ul>
            </h2>
            <h3>Directions
                <ol>
                    <li>Preheat oven to 350.</li>
                    <li>Mix Peanute Butter and Sugar</li>
                    <li>Add in Almond Milk</li>
                    <li>Add in Flour, Baking Soda, and Salt</li>
                    <li>Add Chocolate Chips</li>
                    <li>Form dough balls and place on tray</li>
                    <li>Bake for 9 min or until golden brown</li>
                </ol>
            </h3>
        </main>
    </body>
</html>